#app {
  .el-menu{
    background: white;
  }
  .sidebar-container {
    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }
  }
  .category-tree-wrap {
    .el-tree--highlight-current
      .el-tree-node.is-current
      > .el-tree-node__content {
      background-color: #f5f7fa;
    }
    .el-tree-node:focus > .el-tree-node__content {
      background: none;
    }
    .el-tree-node.is-current.is-focusable
      > .el-tree-node__content
      .is-leaf
      ~ span {
      color: #0077ff;
    }
  }
  .category-tree-wrap.include-parent-node {
    .el-tree--highlight-current
      .el-tree-node.is-current
      > .el-tree-node__content {
      background-color: #f5f7fa;
      color: #0077ff;
      .is-leaf ~ span {
        color: #0077ff;
      }
    }
    .el-tree-node:focus > .el-tree-node__content {
      background-color: #f5f7fa;
      .is-leaf ~ span {
        color: #0077ff;
      }
    }
  }
  .category-tree-wrap {
    .custom-tree-node.active {
      color: #0077ff;
    }
  }

  /// step
  .el-step__icon.is-text {
    width: 28px;
    height: 28px;
    border-width: 5px;
    border-color: #fff;
    font-size: 18px;
    margin-top: -1px;
  }
  .el-step__head.is-process .el-step__icon.is-text {
    color: #b3b3b3;
  }
  .el-step__head.is-finish {
    .el-step__line-inner {
      /*padding: 1px 0px;*/
      background-color: #0077ff;
    }
  }
  .el-step__title {
    font-weight: bold;
    .step-title {
      position: relative;
      padding: 5px 10px;
      height: 16px;
      line-height: 16px;
      border-radius: 5px;
      user-select: none;
      &:before {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: -10px;
        font-family: element-icons !important;
        content: '\e78f';
      }
    }
    &.is-finish {
      .step-title {
        background: #07f;
        color: #fff;
        &:before {
          color: #07f;
        }
      }
    }
    &.is-process,
    &.is-wait {
      .step-title {
        background: #b3b3b3;
        color: #fff;
        &:before {
          color: #b3b3b3;
        }
        font-weight: 400;
      }
    }
  }

  .el-step.is-horizontal .el-step__line {
    height: 4px;
  }

  .el-step__description.is-finish,
  .el-step__description.is-process {
    color: #666;
    padding-top: 10px;
  }
  .step-description {
    white-space: nowrap;
  }

  /// tabs
  .normal.el-tabs {
    .el-tabs__nav-wrap::after {
      background: none;
    }
  }

  /// message box
  .el-message-box.custom-message-box {
    .el-message-box__title {
      font-size: 24px;
    }
    .el-message-box__status {
      font-size: 40px !important;
      color: #0077ff;
    }
  }
}
