.app-main {
  /*50 = navbar  */
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: $clearanceWidth solid $mainContainerBg;
  border-top: none;
  box-sizing: border-box;
  .container {
    padding: 20px;
  }
}
.fixed-header + .app-main {
  padding-top: 50px;
}
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
