body {
  background-color: #eaeaea;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 微软雅黑, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
  font-size: 14px;
  button, input, optgroup, select, textarea{
    font-family: 微软雅黑, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
  }
  .category-tree-title{
    font-weight: bold;
  }
  .el-table th.gutter {
    display: table-cell !important;
  }
  .el-table__footer-wrapper,
  .el-table__header-wrapper {
    min-height: 48px;
  }
  .el-form-item__label {
    font-weight: 400;
  }
  .form-inline {
    .form-item {
      width: 30%;
    }
    .form-item-full {
      width: 100%;
    }
  }
}
th {
  font-weight: 400;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
.pages {
  margin: 10px 0;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.water-mark {
  position: relative;
  overflow: hidden;
  height: 100%;
  .water-mark-text {
    position: absolute;
    width: 100%;
    height: 100%;
    span.text {
      font-size: 40px;
      color: rgba(150, 150, 150, 0.07);
      transform: rotate(45deg);
      display: block;
      width: 33.333%;
      margin-bottom: 260px;
      user-select: none;
      pointer-events: none;
    }
    flex-wrap: wrap;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    user-select: none;
    pointer-events: none;
  }
}

@media print {
  body {
    background: none !important;
  }
  .main-header,
  .sidebar-container,
  .navbar {
    display: none;
  }
  .main-container {
    margin-left: 0px !important;
  }
  .app-main {
    border: 0px !important;
  }
}
