@import './common.scss';
@import './mixin.scss';
@import './transition.scss';
@import './variables.scss';
@import './element-ui.scss';
@import './header.scss';
@import './sidebar.scss';
@import './navbar.scss';
@import './layout-main.scss';
@import './layout.scss';
@import './app-main.scss';
@import './default/index.scss';
@import './red/index.scss';
.main {
  padding-top: $headerHeight;
}
// main-container global css
.app-container {
  margin: 10px;
  padding: 10px;
  background: $appContainerBg;
}
.main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: $sideBarWidth;
  position: relative;
  background: $mainContainerBg;
}

button.no-border {
  border: none;
}
