.red {
  .sidebar-container {
    .is-active > .el-submenu__title {
      color: #f40 !important;
    }
  }
  #app {
    .header {
      .el-menu-item {
        &.is-active {
          background: #f40;
          border: 2px solid #f60;
        }
      }
    }
  }
}
